.sns-section {
    min-height: calc(100vh - 80px);
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.image-wrapper {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    overflow: hidden;
    box-shadow: 4px 4px 15px rgba(0, 0, 0, 0.3);
    margin-top: 4vh;
  }

.image-wrapper img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.image-label {
    text-align: center;
    font-size: 18px;
    font-weight: bold;
}

.sns-links {
    display: flex;
    flex-direction: column;
    /* ここをcolumnに変更して縦並びにします */
    align-items: center;
    /* センタリングのためのスタイルを追加 */
    gap: 20px;
    /* 各リンクの間隔を設定 */
    padding: 20px;
}

.sns-item {
    display: flex;
    align-items: center;
    gap: 10px;
    text-decoration: none;
    color: #333;
    border: 2px solid #eee;
    padding: 10px 20px;
    border-radius: 20px;
    transition: 0.3s;
    width: 80%;
    /* 必要に応じて幅を調整 */
    max-width: 300px;
    justify-content: center;
    /* アイコンとテキストをセンタリング */
}

.sns-item:hover {
    background-color: #333;
}

.sns-icon {
    width: 30px;
    height: 30px;
}

.sns-item span {
    opacity: 0;
    /* 非表示に設定 */
    width: 0;
    /* 幅を0に設定して非表示に */
    overflow: hidden;
    /* 余分な領域を非表示に */
    transition: opacity 0.3s, width 0.3s;
    /* アニメーション効果を追加 */
    white-space: nowrap;
    /* 文字を一行に収める */
}

.sns-item:hover span {
    opacity: 1;
    /* マウスオーバーで表示 */
    width: auto;
    /* 必要な幅に自動的に拡張 */
}