:root {
    --skintone-color: #DE9B72;
    --dark-color: #3A3D3E;
}

.main {
    height: 100%;
}

body {
    padding: 0;
    margin: 0;
    height: 100%;
}


.top-body {
    height: 100%;
    display: flex;
    justify-content: center;
    /* flex-direction: column; */
    background-size: cover !important;
    background-repeat: no-repeat !important;
    background-position: 30% 0% !important;
}

@media (min-width: 910px) {
    .top-body {
        background-position: top !important;
    }
}

@media (min-width: 992px) {
    .top-body {
        /* background-size: 148vh!important; */
        background-repeat: no-repeat;
    }
}

.row {
    margin-right: 0;
    margin-left: 0;
}

.social-row {
    display: flex;
    flex-direction: column;
    right: 0;
    position: absolute;
}

@media (min-width: 768px) {
    .social-row {
        position: relative;
        flex-direction: row;
        justify-content: flex-end;
    }
}

.social-row a {
    width: 2em;
    height: 2em;
    background-repeat: no-repeat;
    background-size: contain;
    padding: 1em 0;
    z-index: 99;
    margin-bottom: 1em;
    margin-right: 1em;
}

@media (min-width: 768px) {
    .social-row a {
        width: 2.5em;
        height: 2.5em;
        padding: 1em 0;
        margin-bottom: 0;
    }
}

@media (min-width: 1200px) {
    .social-row a {
        width: 3em;
        height: 3em;
        padding: 0;
    }
}

.countach {
    font-family: countach, sans-serif;
    font-weight: 400;
    font-style: normal;
}

.top-name-kalulu {
    text-align: right;
    padding-right: 0.5em;
}

.tilda-petite {
    font-family: tilda-petite, sans-serif;
    font-weight: 400;
    font-style: normal;
}

.montserrat {
    font-family: montserrat, sans-serif;
    font-weight: 300;
    font-style: normal;
}

.skintone-text {
    color: var(--skintone-color);
}

.dark-text {
    color: var(--dark-color);
}

.white-text {
    color: #fff;
}

.black-text {
    color: #2b2c2d;
}

a:hover {
    color: #c2c2c2;
}

.top-background {
    background: url('./img/background.JPG');
    height: 100vh;
    width: 100vw;
}


.logo {
    width: 20vh;
}

@media (min-width: 768px) {
    .logo {
        width: 16em;
    }
}

@media (min-width: 992px) {
    .logo {
        width: 18em;
    }
}

@media (min-width: 1200px) {
    .logo {
        width: 28vh;
        height: 28vh;
    }
}

h1 {
    font-size: 4.5vh;
    letter-spacing: 4px;
    padding-top: .5em;
}

@media (min-width: 992px) {
    h1 {
        font-size: 2.75em;
    }
}

@media (min-width: 1200px) {
    h1 {
        font-size: 3em;
        letter-spacing: 5px;
    }
}

.lead {
    font-size: 1.5rem;
    padding-top: 0.5em;
}

@media (min-width: 992px) {
    .lead {
        font-size: 2rem;
        padding-top: 0.5em;
    }
}

@media (min-width: 1200px) {
    .lead {
        font-size: 2.5rem;
        padding-top: 1em;
    }
}

p.general {
    font-size: 2.5vh;
    margin-bottom: 0.5em;
    line-height: 1.25em;
}

@media (min-width: 992px) {
    p.general {
        font-size: 1.25em;
        line-height: 1.5em;
    }
}

@media (min-width: 1200px) {
    p.general {
        font-size: 1.5em;
    }
}


.inner-border {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.outer-border {
    border: 2px solid #DE9B72;
    height: 98%;
    width: 98%;
    padding: 6px;
    margin: 0 auto;
}

/* @media (min-width: 992px) {
    .outer-border {
        height: 94%;
    }
} */

.mid-border {
    border: 6px solid #DE9B72;
    height: calc(98% - 12px);
    width: calc(100% - 24px);
    padding: 6px;
    margin: auto;
}

.inner-border {
    position: relative;
    border: 2px solid #DE9B72;
    height: 100%;
    width: 100%;
    margin: auto;
}


/* Decorations */
.corner-decoration {
    position: absolute;
    width: 3em;
    margin: -3px;
}

@media (min-width: 768px) {
    .corner-decoration {
        width: 3.5em;
        margin: -4px;
    }
}

@media (min-width: 992px) {
    .corner-decoration {
        width: 4em;
        margin: -5px;
    }
}

@media (min-width: 1200px) {
    .corner-decoration {
        width: 5em;
        margin: -6px;
    }
}

.corner-decoration.corner-left-top {
    left: 0;
    top: 0;
}

.corner-decoration.corner-right-top {
    top: 0;
    right: 0;
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}

.corner-decoration.corner-right-bottom {
    right: 0;
    bottom: 0;
    -webkit-transform: scale(-1);
    transform: scale(-1);
}

.corner-decoration.corner-left-bottom {
    left: 0;
    bottom: 0;
    -webkit-transform: scaleY(-1);
    transform: scaleY(-1);
}


.vertical-decoration {
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    width: 11em;
}


@media (min-width: 768px) {
    .vertical-decoration {
        width: 16em;
    }
}


@media (min-width: 992px) {
    .vertical-decoration {
        width: 20em;
    }
}

@media (min-width: 1200px) {
    .vertical-decoration {
        width: 27em;
    }
}

.vertical-decoration.top {
    top: 0;

}

.vertical-decoration.bottom {
    bottom: 0;
    -webkit-transform: scaleY(-1);
    transform: scaleY(-1);
}


/* Profile */
.top-profile {
    width: 100vw;
    padding-top: 20px;
    padding-bottom: 30px;
}

.top-profile-contents {
    max-width: 980px;
    width: 80%;
    margin: 0 auto;
}

.title-center {
    text-align: center;
}

p.dots-background {
    width: 250px;
    margin: 0 auto;
    position: relative;
}

p.dots-background::after {
    content: "";
    width: 100%;
    height: 100%;
    background-image: radial-gradient(#ffe100 30%, rgba(0, 174, 201, 0) 31%), radial-gradient(#ffe100 30%, rgba(0, 174, 201, 0) 31%);
    background-size: 6px 6px;
    background-position: 0 0, 3px 3px;
    position: absolute;
    bottom: -15px;
    right: -15px;
    z-index: -1;
}

.profile-image {
    width: 250px;
    height: 250px;
    object-fit: cover;
}


.profile-box {
    margin: 2em auto;
    position: relative;
    padding: 0.5em 1.5em;
    border-top: solid 2px black;
    border-bottom: solid 2px black;
}

.profile-box:before,
.profile-box:after {
    content: '';
    position: absolute;
    top: -10px;
    width: 2px;
    height: -webkit-calc(100% + 20px);
    height: calc(100% + 20px);
    background-color: black;
}

.profile-box:before {
    left: 10px;
}

.profile-box:after {
    right: 10px;
}

.profile-box p {
    /* margin: 0;  */
    padding: 0;
}

.profile-name {
    font-size: 38px;
    font-weight: 600;
    line-height: 1;
    color: #ff9500;
    margin: 6px 0 24px 0;
}

/* .profile-detail {
    
} */


@media (min-width: calc(20vw + 850px)) {
    .flex {
        display: flex;
    }

    .profile-image-block {
        width: 350px;
        margin: 0, auto;
    }

    .profile-info-block {
        width: 500px;
        max-width: calc(100% - 350px);
    }
}


@media (min-width: 440px) {
    .flex div {
        /*コレ追加*/
        box-sizing: border-box;
        padding: 10px 50px;
    }
}

.flex div {
    /*コレ追加*/
    box-sizing: border-box;
    padding: 10px auto;
}

.flex div.profile-info-block {
    /*コレ追加*/
    box-sizing: border-box;
    padding: 10px 50px;
}

.profile-info-block {
    width: 500px;
    max-width: 100%;
}

/* SNS */
.top-sns {
    background-color: #fffce6;
    padding-bottom: 20px;
    padding-top: 20px;
}

.sns-icons {
    text-align: center;
}

.sns-icon {
    font-size: 60px;
    color: #ff9500;
    margin: auto 12px;
}

/* .twitter-icon {
    color: #00acee;
}
.youtube-icon {
    color: #c4302b;
}
.line-icon {
    color: #00B900;
} */

.sns-banners {
    max-width: 100%;
}
.sns-banners-block {
    max-width: 630px;
    width: 100%;
    margin: 0 auto;
}

@media (min-width: 630px) {
    .fantia {
        margin-right: 40px;
        margin-bottom: 0;
    }
}

@media (max-width: 590px) {
    .fantia {
        margin-bottom: 15px;
    }
    .sns-banner {
        margin-left: calc((100vw - 295px)/2);
    }
}

.sns-banner {
    width: 295px;
    display: inline-block;
}

.btn img.sns-banner-img {
    display: block;
}

img.sns-banner-img {
    width: 100%;
}